<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
      @import url("https://use.typekit.net/yow8swi.css%22");

      /* @font-face {
        font-family: 'Acumin Variable Concept';
        src: './Acumin Variable Concept.ttf';
      } */

      html, body {
        font-family: 'Inter';
        margin: 0;
        padding: 0;
      }
      .main-mail-section {
        width: 700px;
        margin: 0 auto;
        padding-top: 30px;
      }
      .navbar{
        display: flex;
        justify-content: space-between;
      }
      .navbar > img {
        width: 25%;
        height: 56px;
      }

      .navbar > p {
        color: #787878;
        font-size: 16px;
      }

      .footer {
        margin: 0px 0 25px 0;
      }

      .footer > div {
        margin : 20px 0;
      }

      .footer-text {
        color: rgba(35, 31, 32, 0.6);
      }

      a {
        color: #4576C2;
        text-decoration: none;
        cursor: pointer;
      }
      .main-title {
        font-size: 28px;
        line-height: 33px;
        font-weight: 500;
        text-align: center;
      }

      .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
        color: #3a3a3a;
      }

      .sub-text {
        color: #3a3a3a;
        text-align: center ;
        line-height: 24px;
        font-size: 17px;
      }

      .text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 40px;
      }

      .image {
        text-align: center;
      }

      .btn-container {
        text-align: center;
        margin: 45px 0;
      }

      a.btn {
        text-decoration: none;
        background-color: #B71C1C;
        color: #fff;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
      }

      li {
        margin: 10px 0;
      }

      /* ------End of Common Styles--------- */

      .divider {
        display: flex;
        flex-direction: row;
        margin: 30px 0;
      }

      .divider > div {
        /* flex-grow: 5; */
        width: 48%;
        height: 16px;
        border-top: 2px solid #ccc;
        margin-top: 8px;
      }

      .divider > img {
        /* flex-grow: 1; */
        height: 16px;
        width: 16px;
      }
    </style>
  </head>
  <body>
    <div class="main-mail-section">
      <div class="navbar">
        <img src="https://res.cloudinary.com/doyesz3jg/image/upload/v1708773455/Movie-connect_ox9ttl.png">
      </div>
      <div class="main-section">
        <div class="container">
          {{{body}}}
        </div>
      </div>
      <div class="footer">
        <hr>
        <div>
          <p class="footer-text">
           If you have any questions or need assistance, don't hesitate to reach out to our support team at info@movieconnect.com. We're here to help!
          </p>
          <p class="footer-text">
            Thank you for choosing movie connect. We're excited to embark on this journey with you
          </p>
          <p class="footer-text">
            Best regards.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
