<div class="image">
  <img src="https://res.cloudinary.com/doyesz3jg/image/upload/v1708773590/verify_xbbfgg.png">
</div>
<div>
  <p class="main-title">Verify your email address</p>
</div>
<div class="body">
  <p class="title"> Hi, {{ first_name }} {{ last_name}} </p>
  <p class="sub-text">
    Welcome to movie connect! We're thrilled to have you on board.
  </p>
  <p class="text" style="text-align: center">
    To get started and unlock the full potential of your account, please take a moment to verify your email address by clicking the button below:
  </p>
  <div class="btn-container" style="margin-top: 18px">
    <a href="{{url}}" class="btn">VERIFY E-MAIL</a>
  </div>
  <p class="sub-text" style="color:#3a3a3a">
    Verifying your email ensures that you receive important updates, notifications, and personalized contents tailored just for you
  </p>
</div>
