<div class="image">
  <img src="https://bank54.ams3.digitaloceanspaces.com/EmailTemplateImages/Verify-Email.png">
</div>
<div>
  <p class="main-title">Verify your email address</p>
</div>
<div class="body">
  <p class="title"> Hello {{ name }}, </p>
  <p class="text">
    Thank you for choosing B54, we look forward to serving you on our platform. But before we get started we need to confirm that this is you.
  </p>
  <p class="text" style="text-align: center">
    Please click the button below to verify your email.
  </p>
  <div class="btn-container" style="margin-top: 18px">
    <a href="{{url}}" class="btn">Verify Email</a>
  </div>
</div>
