<div class="image">
  <img src="https://bank54.ams3.digitaloceanspaces.com/EmailTemplateImages/Verify-Email.png">
</div>
<div>
  <p class="main-title">Reset your password</p>
</div>
<div class="body">
  <p class="title"> Hello {{ name }}, </p>
  <p class="text">
    It looks like you've lost your password.Don't worry we'll help you get a new one. All you need to do is click on the button below to reset your password.
  </p>
  <div class="btn-container" style="margin-top: 18px">
    <a href="{{url}}" class="btn">Reset password</a>
  </div>
</div>
