<div class="image">
  <img src="https://res.cloudinary.com/doyesz3jg/image/upload/v1708777024/password-reset_hduerl.png">
</div>
<div>
  <p class="main-title">Reset your password</p>
</div>
<div class="body">
  <p class="title"> Hi, {{ name }}</p>
  <p class="sub-text">
    It seems like you've requested a password reset for your movie connect account.No worries! We're here to help you regain access to your account. To reset your password, simply click the button below.
  </p>
  <div class="btn-container" style="margin-top: 35px">
    <a href="{{url}}" class="btn">Reset password</a>
  </div>
  <p class="sub-text" style="color:#3a3a3a">
   If you didn't request this password reset or if you remember your password and no longer need to reset it, you can safely ignore this email
  </p>
</div>
